{% extends "base.html" %}

{% block head_content %}
<title>@{{ user.username }} | Platzigram</title>
{% endblock %}

{% block container %}
<div class="container">
    <div class="col-sm-12 col-md-4 offset-md-4 mt-5 p-5 post-container">
        <div>
            <h5>Followers</h5>
        </div>
        <div class="media mb-3">
            <h5>________________________</h5>
        </div>
        {% for follower in followers %}
        <div class="media mb-3">
            {% if follower.profile.picture %}
                <a href="{% url 'users:detail' follower.username %}">
                    <img class="d-flex mr-2 rounded-circle" width="40px" height="40px" src="/media/{{ follower.profile.picture }}" alt="">
                </a>
            {% else %}
                <a href="{% url 'users:detail' follower.username %}">
                    <img class="d-flex mr-2 rounded-circle" src="http://placehold.it/50x50" alt="">
                </a>
            {% endif %}

            <div class="media-body">
                <h7 class="mt-0">{{follower.username}}</h7>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}