{% extends "base.html" %}

{% block head_content %}
    <title>Platzigram</title>
{% endblock%}

{% block container %}
    <div class="container">
            {% for post in posts %}
                {% include "posts/post_card.html" %}
                <div class="col-sm-12 col-md-8 offset-md-2 mt-5 p-0 post-container">
                    {% if post.comment_set.all %}
                        {% for comment in post.comment_set.all %}
                            <div class="media mb-3">
                                {% if comment.profile.picture %}
                                    <img class="d-flex mr-2 rounded-circle" width="40px" height="40px" src="/media/{{ comment.profile.picture }}" alt="">
                                {% else %}
                                    <img class="d-flex mr-2 rounded-circle" src="http://placehold.it/50x50" alt="">
                                {% endif %}

                                <div class="media-body">
                                    <h5 class="mt-0">{{comment.user.username}}</h5>
                                    <p class="mt-1 ml-6" >{{comment.comment}} | {{comment.created}}
                                        {% if user == comment.user %}
                                            <a href="{% url 'posts:delete_comment' comment.pk %}" class="ml-5 btn btn-sm btn-outline-info">
                                                delete comment
                                            </a>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
    </div>
    {% include "pagination.html" %}
{% endblock %}